<h6>게시판</h6>
<h3>환영합니다 {{name}} 님</h3>
<p>당신의 이야기</p>
{{#if stories}}
<table class="striped">
    <thead>
        <tr>
            <th>제목</th>
            <th>날짜</th>
            <th>상태</th>
            <th></th>
        </tr>
    </thead>
    {{#each stories}}
    <tr>
        <td><a href="/stories/{{_id}}">{{title}}</a></td>
        <td>{{formatDate createdAt 'YYYY MM월 DD일 , h:mm:ss a'}}</td>
        <td><span class="dash-status">{{status}}</span></td>
        <td></td>
    </tr>
    {{/each}}
</table>
{{else}}
<p>아직 이야기가 존재하지 않군요. </p>
{{/if}}